# ===== General Build Artifacts =====
*.d
*.obj
*.o
*.slo
*.lo

# Precompiled Headers
*.gch
*.pch

# ===== Libraries =====
*.so
*.dylib
*.dll
*.lib
*.a
*.lai
*.la

# ===== Allow prebuilt third-party binaries =====
!external/libs/**/*.dll
!external/libs/**/*.lib
!external/libs/**/*.a

# ===== Submodules and External Dependencies =====
# Keep everything inside external/ (like glfw, fmod headers, etc.)
!external/**

# ===== Executables =====
*.exe
*.out
*.app

# ===== Visual Studio / Windows build artifacts =====
*.exp
*.pdb
*.ilk

# ===== Logs / temporary =====
*.log
*.tmp
*.cache
*.bak

# ===== Engine Build Outputs =====
core.dll
game.dll
application.exe

# ===== Claude =====
CLAUDE.md